<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit backupGlobals="false"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         convertDeprecationsToExceptions="true"
>
    <testsuites>
        <testsuite name="PaymentGatewayApi">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
